  .sidebar {
    height: 100%;
    width: 220px;
    font-weight: 500;
    transition: width 0.3s ease;
    background-color: #4c1bd2;
    // padding: 6rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.collapsed {
      width: 60px;

      .logo {
        display: none;
      }
    }

    .logo {
      margin-bottom: 1.5rem;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      flex: 1;
      list-style: none;
      padding: 0;
      width: 100%;

      li {
        padding: 0.75rem;
        margin-bottom: 0.1rem;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: flex-start;
        color: rgb(255, 255, 255);
        transition: all 0.2s ease;

        &.active {
          background-color: #7142f2;
          // border: 1px solid #1B0F31;
          font-weight: 600;
        }

        &:hover {
            background-color: #7142f2;
          // color: white;
        }

        i {
          width: 20px;
          text-align: center;
          color: rgb(255, 255, 255);
          font-weight: bold;
        }
      }

      .bottom-item {
        margin-top: auto; // ✅ يحركه لأسفل القائمة
        // padding-bottom: 0;
      }

      .btn-logout {
        background-color: transparent !important;
        color: rgb(255, 255, 255)  !important;
        border: 0;
        outline: 0;
        width: 100%;
        text-align: start;
      }
    }
  }
