  .sidebar {
    height: 100%;
    width: 220px;
    transition: width 0.3s ease;
    background-color: #f2f2f2;
    // border-left: 3px solid rgb(31, 51, 74);
    padding: 6rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 5rem;

    &.collapsed {
      width: 60px;

      .logo {
        display: none;
      }
    }

    .logo {
      margin-bottom: 1.5rem;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      flex: 1;
      list-style: none;
      padding: 0;
      width: 100%;

      li {
        padding: 0.75rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: flex-start;
        color: rgb(31, 51, 74);
        transition: all 0.2s ease;

        &.active {
          border: 1px solid #1B0F31;
          font-weight: 600;
        }

        &:hover {
            background-color: #dedddd;
          // color: white;
        }

        i {
          width: 20px;
          text-align: center;
          color: rgb(31, 51, 74);
          font-weight: bold;
        }
      }

      .bottom-item {
        margin-top: auto; // ✅ يحركه لأسفل القائمة
        // padding-bottom: 0;
      }

      .btn-logout {
        background-color: transparent !important;
        color: black  !important;
        border: 0;
        outline: 0;
        width: 100%;
        text-align: start;
      }
    }
  }
