<div class="auth-container">
  <div class="logo-wrapper">
    <app-svg-logo />
  </div>

  <p-card class="auth-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- <h3>صفحة تسجيل الدخول</h3> -->

      <div class="form-field">
        <label for="email">البريد الالكتروني / الاسم</label>
        <input pInputText id="email" [style.width.%]="100" type="email" formControlName="username" />
        @if (loginForm.get('username')?.invalid && isSubmitted) {
        <small class="error">Valid email required</small>
        }
      </div>

      <div class="form-field">
        <label for="password">كلمة المرور</label>
        <p-password
        [toggleMask]="true"
        id="password"
        type="password"
        [style.width.%]="100"
        formControlName="password"
        [feedback]="false" />
        @if (loginForm.get('password')?.invalid && isSubmitted) {
        <small class="error">Password is required</small>
        }
      </div>

      <button [loading]="isLoading" pButton type="submit" label="تسجيل الدخول" class="submit-btn btn-search" [disabled]="loginForm.invalid"></button>
    </form>
  </p-card>
</div>
